body {
  margin: 0;
}

.color {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 50px;
  color: black;
  font-size: 40px;
  border: 10px solid black;
}

.button {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 2;
  width: 50px;
  height: 30px;
  outline: none;
  cursor: pointer;
  background: whitesmoke;
}
